[elementname="app-popup"] {
  position: static;
  transition: opacity 300ms;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.active {
    opacity: 1;
  }
  &:not(.active) {
    opacity: 0;
  }

  [elementname="app-popup-inner"] {
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    width: 300px;
    height: auto;
    position: absolute;
  }

  [elementname="app-popup-darkness"] {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;
    position: absolute;
  }
}

[elementname="app-toaster"] {
  position: fixed;
  top: $NAVBAR_HEIGHT;
  // right: $APP_MARGIN;
  right: 0;

  // width: 200px;
  height: auto;
  transition: transform 300ms;

  &.active {
    transform: translateX(0%);
  }
  &:not(.active) {
    transform: translateX(110%);
  }
}
[elementname="upload-component"] {
  label {
    border-width: 1px;
    border-style: solid;
  }

  &[componentstate="disabled"] {
    pointer-events: none;
    color: map.get($COLOR_MAP, "grayer");

    label {
      border-color: map.get($COLOR_MAP, "grayer");
    }
  }

  &[componentstate="enabled"] {
    color: map.get($COLOR_MAP, "white");

    label {
      border-color: map.get($COLOR_MAP, "gray");
      cursor: pointer;
    }

    label:hover {
      border-color: map.get($COLOR_MAP, "white");
    }
  }

  &[isDragOver] {
    label {
      border-color: map.get($COLOR_MAP, "green");
    }
  }
}

[elementname="dark-button"] {
  background: map.get($COLOR_MAP, "first");
  color: map.get($COLOR_MAP, "white");

  &:disabled:not(.active) {
    color: map.get($COLOR_MAP, "grayer");
  }

  &:hover:enabled:not(.active),
  &:focus:enabled:not(.active) {
    background: map.get($COLOR_MAP, "first-lighter");
  }

  &:active:enabled,
  &.active {
    background: map.get($COLOR_MAP, "lightblue");
  }
}

[elementname="block-inner-icon"] {
  top: 5px;
  left: 5px;
  opacity: 0.5;
}
[elementname="annotation-box"] {
  position: relative;
  background: #312e3a;
}

[elementname="arrow-box-down"] {
  position: relative;
  background: #312e3a;

  &:after {
    top: 100%;
    left: 55px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(49, 46, 58, 0);
    border-top-color: #312e3a;
    border-width: 10px;
    margin-left: -10px;
  }
}

.unusable {
  &:after {
    position: absolute;
    top: 5px;
    right: 3px;
    content: "⨉";
    font-size: 10px;
    opacity: 0.8;
  }
}
