[componentname='app-footer'] {
  left: $APP_MARGIN;
  bottom: $APP_MARGIN;
}
  
[componentname='app-content'] {
  flex: auto;
  padding-left: $APP_MARGIN;
  // padding-right: $APP_MARGIN;
  max-width: map.get($BREAKPOINT_WIDTH_MAP, 'l');
}

@media (max-width: (map.get($BREAKPOINT_WIDTH_MAP, 'xl') + $MENU_WIDTH)) {
  [componentname='app-content'],
  [componentname='navigation-menu'] {
    margin-left: $MENU_WIDTH + $APP_MARGIN;
  }
}

[componentname='main-menu'] {
  flex: none;
  width: $MENU_WIDTH;
  left: $APP_MARGIN;
  position: fixed;
}

[componentname='upload-component'] {
  label {
    border-width: 1px;
    border-style: solid;
  }

  &[componentstate='disabled'] {
    pointer-events: none;
    color: map.get($COLOR_MAP, "grayer");
    
    label {
      border-color: map.get($COLOR_MAP, "grayer");
    }
  }

  &[componentstate='enabled'] {
    color: map.get($COLOR_MAP, "white");

    label {
      border-color: map.get($COLOR_MAP, "gray");
      cursor: pointer;
    }

    label:hover {
      border-color: map.get($COLOR_MAP, "white");
    }
  }

  &[isDragOver] {
    label {
      border-color: map.get($COLOR_MAP, "green");
    }
  }
}

[componentname='navigation-menu'] {
  bottom: $APP_MARGIN + 30;
}

[componentname='pagination-menu'] {
  background: map.get($COLOR_MAP, "first");
}
[componentname='dark-button'] {
  background: map.get($COLOR_MAP, "first");
  color: map.get($COLOR_MAP, "white");

  &:disabled:not(.active) {
    color: map.get($COLOR_MAP, "grayer");
  }

  &:hover:enabled:not(.active),
  &:focus:enabled:not(.active) {
    background: map.get($COLOR_MAP, "first-lighter");
  }

  &:active:enabled,
  &.active {
    background: map.get($COLOR_MAP, "lightblue");
  }
}

[componentname='block-inner-icon'] {
  top: 5px;
  left: 5px;
  opacity: 0.5;
}

[componentname='arrow-box-down'] {
  position: relative;
  background: #312e3a;

  &:after {
    top: 100%;
    left: 55px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(49, 46, 58, 0);
    border-top-color: #312e3a;
    border-width: 10px;
    margin-left: -10px;
  }
}