[componentname='app-footer'] {
  left: $APP_MARGIN;
  bottom: $APP_MARGIN;
}
  
[componentname='app-content'] {
  flex: auto;
  padding-left: $APP_MARGIN;
  padding-right: $APP_MARGIN;
  max-width: map.get($BREAKPOINT_WIDTH_MAP, 'l');
}

@media (max-width: (map.get($BREAKPOINT_WIDTH_MAP, 'xl') + $MENU_WIDTH)) {
  [componentname='app-content'],
  [componentname='navigation-menu'] {
    margin-left: $MENU_WIDTH + $APP_MARGIN;
  }
}

[componentname='main-menu'] {
  flex: none;
  width: $MENU_WIDTH;
  left: $APP_MARGIN;
  position: fixed;
}

[componentname='navigation-menu'] {
  bottom: $APP_MARGIN + 30;
}

[componentname='dark-button'] {
  background: map.get($COLOR_MAP, "first");
  color: map.get($COLOR_MAP, "white");

  &:disabled:not(.active) {
    color: map.get($COLOR_MAP, "grayer");
  }

  &:hover:enabled:not(.active),
  &:focus:enabled:not(.active) {
    background: map.get($COLOR_MAP, "first-lighter");
  }

  &:active:enabled,
  &.active {
    background: map.get($COLOR_MAP, "lightblue");
  }
}

[componentname='pagination-menu'] {
  background: map.get($COLOR_MAP, "first");
}

[componentname='block-inner-icon'] {
  top: 5px;
  left: 5px;
  opacity: 0.5;
}

