// -- Color
$COLOR_MAP: (
  "first": #1d1a21,
  "first-lighter": #302a38,

  "second": #3b4b5a,
  "second-lighter": #455a6d,
  "second-darker": #354452,
  "second-darkest": #232c35,

  "third": #14181c,
  "third-lighter": #262b2f,

  "fourth": #312e3a,

  "fifth": #654d69,
  "fifth-lighter": #87688c,

  "lightblue": #6088bd,

  "green": #76a56a,
  "green-lighter": #b0daa6,

  "red": red,

  "white": #ececec,
  "gray": #c7c7c7,
  "grayer": #909090,
  "grayest": #696969,
  "black": #151515,
  // "transparent": rgba(0, 0, 0, 0)
);

// -- Fonts
$FONT_MAPPING: (
  "primary": "Roboto",
  "secondary": "Open Sans",
  "tertiary": "Ubuntu",
  "logo": "Roboto"
);

// -- Breakpoints
$MEDIA_QUERY_KEY_MAP: (
  "extra-small": "xs",
  "small": "s",
  "medium": "m",
  "large": "l",
  "extra-large": "xl"
);

$BREAKPOINT_WIDTH_MAP: (
  "xs": 320px,
  "s": 480px,
  "m": 768px,
  "l": 1024px,
  "xl": 1440px
);

// -- Base Sizing per iteration
$FONT_BASE_REM: 10px; // equal to 1rem
$BASE_SIZE_MAP: (
  "font-size": 1px,
  "padding": 2px,
  "margin": 2px,
  "border-radius": 3px,
  "box-shadow": 2px
);
