@use "sass:map";
@import 'constants.scss';
@import 'definitions.scss';
@import '../../node_modules/aah-util-css/sass_src/all-util-styles.scss';
@import 'css-util-extension.scss';
@import 'components.scss';

body {
  background-color: map.get($COLOR_MAP, "third");
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app-main {
  width: 100%;
  min-height: 100vh;
  max-width: 1280px;
  box-sizing: border-box;
  padding-bottom: 100px;
  
  @media (max-width: 1280px) {
    padding-left: $MENU_WIDTH + $APP_MARGIN;
  }
}
