@import 'definitions.scss';
@import '../../node_modules/aah-util-css/sass_src/all-util-styles.scss';

body {
  background-color: #14181c;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slv-main {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
}

div[componentname="visualizer-tooltip"] {
  position: fixed;
  transition: transform 500ms, opacity 300ms;
  top: 30px;
  right: 30px;
}

div[componentname="block-inner-icon"] {
  top: 5px;
  left: 5px;
  opacity: 0.5;
}

div[componentname="pagination-menu"] {
  position: fixed;
  bottom: 50px;
  // left: 50%;
  // transform: translateX(-50%);
  background: #66457b;
  border: 2px solid black;
  z-index: 10;
  padding: 5px;
  border-radius: 10px;
}
.userselect-none {
  user-select: none;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 5px solid #ececec;
}

.hover\:bg-second-lighter:enabled {
  &:hover {
    background-color: #455a6d;
  }
}