@use "sass:map";
@import 'constants.scss';
@import 'definitions.scss';
@import '../../node_modules/aah-util-css/sass_src/all-util-styles.scss';
@import 'css-util-extension.scss';
@import 'components.scss';

body {
  background-color: map.get($COLOR_MAP, "third");
}

#root {
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: $APP_MARGIN;
}

#app-main {
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100vh;
  // max-width: 1280px;

  padding-bottom: 100px;

  display: flex;

  &[appmode='splash'] {
    flex-direction: column;
    align-items: center;
  }

  &[appmode='ready'] {
    flex-direction: row;
    justify-content: center;
  }
}