#app-page-visualizer,
#app-page-database,
#app-page-stats,
#app-page-home {
  margin-top: $NAVBAR_HEIGHT + $APP_MARGIN;
  padding-left: $APP_MARGIN;
  padding-right: $APP_MARGIN;
}

#app-page-charts {
  width: 800px;
  max-width: 1200px;

  margin-top: $NAVBAR_HEIGHT + $APP_MARGIN;
  padding-left: $APP_MARGIN;
  padding-right: $APP_MARGIN;

  margin-left: auto;
  margin-right: auto;
}
