[elementname='app-page-home'],
[elementname='app-page-visualizer'],
[elementname='app-page-charts'] {
  margin-top: $NAVBAR_HEIGHT + $APP_MARGIN;
  padding-left: $APP_MARGIN;
  padding-right: $APP_MARGIN;
}
