
div[componentname="pagination-menu"] {
  background: #1d1a21;
}

button[componentname='dark-button'] {
  background: #1d1a21;
  color: #f7f7f7;

  &:disabled:not(.active) {
    color: #909090;
  }

  &:hover:enabled:not(.active),
  &:focus:enabled:not(.active) {
    background: #302a38;
  }

  &:active:enabled,
  &.active {
    background: #6088bd;
  }
}

.boxshadow-dark {
  box-shadow: 0 0 7px 3px rgb(23 23 23 / 50%);
}