
div[componentname="pagination-menu"] {
  position: fixed;
  bottom: 50px;
  background: #1d1a21;
  color: #f7f7f7;
  box-shadow: 0 0 10px 6px rgb(23 23 23 / 50%);
  padding: 5px;
  border-radius: 10px;
}

button[componentname='transparent-button'] {
  border: 1px solid transparent;
  width: 40px;

  &:disabled:not(.active) {
    color: #909090;
  }

  &:hover:enabled:not(.active),
  &:focus:enabled:not(.active) {
    background: #302a38;
  }

  &:active:enabled,
  &.active {
    background: #6088bd;
  }
}
