[elementname='app-navbar'] {
  box-sizing: border-box;
  height: $NAVBAR_HEIGHT;
  width: 100%;
  background-color: map.get($COLOR_MAP, "second-darkest");

  padding-left: $APP_MARGIN;
  padding-right: $APP_MARGIN;

  position: fixed;
  top: 0;
}

[elementname='app-content'],
[elementname='chart-container'] {
  flex: auto;
  padding-left: $APP_MARGIN;
  // padding-right: $APP_MARGIN;
  max-width: map.get($BREAKPOINT_WIDTH_MAP, 'l');
}

@media (max-width: (map.get($BREAKPOINT_WIDTH_MAP, 'xl') + $MENU_WIDTH)) {
  [elementname='app-content'],
  [elementname='app-page-charts'],
  [elementname='navigation-menu'] {
    margin-left: $MENU_WIDTH + $APP_MARGIN;
  }
}

[elementname='app-side-menu'] {
  flex: none;
  width: $MENU_WIDTH;
  top: $NAVBAR_HEIGHT + $APP_MARGIN;
  left: $APP_MARGIN;
  position: fixed;
}

[elementname='navigation-menu'] {
  bottom: $APP_MARGIN + 30;
}

[elementname='pagination-menu'] {
  background: map.get($COLOR_MAP, "first");
}

[elementname='app-footer'] {
  left: $APP_MARGIN;
  bottom: $APP_MARGIN;
}
