#app-navbar {
  box-sizing: border-box;
  height: $NAVBAR_HEIGHT;
  width: 100%;
  background-color: map.get($COLOR_MAP, "second-darkest");

  padding-left: $APP_MARGIN;
  padding-right: $APP_MARGIN;

  position: fixed;
  top: 0;
}

#app-content,
#chart-container,
#app-section-database-list {
  flex: auto;
  padding-left: $APP_MARGIN;
  // padding-right: $APP_MARGIN;
  max-width: map.get($BREAKPOINT_WIDTH_MAP, "l");
}

@media (max-width: (map.get($BREAKPOINT_WIDTH_MAP, "xl") + $MENU_WIDTH)) {
  #app-content,
  #navigation-menu,
  #app-section-database-list {
    margin-left: $MENU_WIDTH + $APP_MARGIN;
  }
}

#app-side-menu {
  flex: none;
  width: $MENU_WIDTH;
  top: $NAVBAR_HEIGHT + $APP_MARGIN;
  left: $APP_MARGIN;
  position: fixed;
}

#navigation-menu {
  bottom: $APP_MARGIN + 30;
}

#pagination-menu {
  background: map.get($COLOR_MAP, "first");
}

#app-section-database-list {
  // width: 600px;
  width: 100%;
  max-width: 800px;
}

#app-footer {
  left: $APP_MARGIN;
  bottom: $APP_MARGIN;
}
